<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>GET Form</title>
 <link rel="stylesheet" href="/css/style.css" />
 <style>
  article {
    margin-left:15%;
    margin-right:15%;
    margin-top:30px;
  }
 </style>
</head>

<body>
 <!-- ヘッダー -->
 <header>
  <h1>GET Form</h1>
  <p style="padding:10px;text-align:center;"><a href="javascript:location='get_form.cgi'">Reset</a> | <a href="index.cgi">Index</a></p>
 </header>

 <!-- 本文 -->
 <article>
  <p>指定したディレクトリ内のファイル数とファイルサイズの合計を得る。</p>
  <form name="form1" method="GET">
   <div class="form_row">
    <label>ディレクトリ<br><input type="text" name="dirname" size="100" value="<%= dirname %>" /></label>
   </div>
   <div class="form_row">
    <label><input type="checkbox" name="recursive" />再帰的に検索</label>
   </div>
   <div style="margin-top:15px;margin-bottom:20px;">
    <button type="submit">送信する</button>
   </div>
  </form>
  <p class="message" id="message"><%= message %></p>
 </article>

 <!-- フッター -->
 <footer>
  <p>&nbsp;</p>
  <p style="text-align:center;"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
 </footer>
</body>
</html>
