<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>GET Text</title>
 <link rel="stylesheet" href="/css/style.css" />
 <style>
   h1 {
     text-align: center;
     color: crimson;
     padding: 10px;
   }
   a:link, a:visited {
     text-decoration: none;
     color: firebrick;
   }
 </style>
 <script>
  async function query() {
    const x = document.getElementById('X').value
    if (x == "") {
      x = 0
    }
    const res = await fetch("/cgi-bin/RubyCGI/get_text.cgi?x=" + x)
    const s = await res.text()
    const result = document.getElementById('result')
    result.innerText = "結果： " + s
  }
 </script>
</head>

<body>
 <!-- ヘッダー -->
 <header>
  <h1>GET Text</h1>
  <p style="padding:10px;text-align:center;"><a href="javascript:location='get_text.cgi'">Reset</a> | <a href="index.cgi">Index</a></p>
 </header>

 <!-- 本文 -->
 <article>
   <p>華氏温度を摂氏温度に変換する。</p>
   <form>
    <div><label>華氏温度: <input type="text" id="X" style="font-size:11pt;" /></label></div>
    <div style="margin-top:15px"><button type="button" id="button1" onclick="javascript:query()">送信</button></div>
   </form>
   <p id="result" class="message"></p>
 </article>

 <!-- フッター -->
 <footer>
  <p>&nbsp;</p>
  <p style="text-align:center;"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
 </footer>
</body>
</html>
